{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
  {% if username %}
    <h2>Welcome, {{ username }}!</h2>
    <h2>Send us A message, or call us on: +216 52 693 442</h2>
    
    <form method="post">
      <label for="subject">Subject:</label>
      <input type="text" name="username" required>
      <br>
      <label for="message">Message:</label>
      <input type="text" name="message" required>

    <button class="button" type="submit">send</button>
  </form>


  {% else %}
    <h2>Welcome</h2>
    <p>Please <a href="{{ url_for('login') }}">login</a> or <a href="{{ url_for('register') }}">register</a>.</p>
  {% endif %}
{% endblock %}
